#image_logo
{
    width: 50px;
    height: 50px;
}

.teste
{
    color: COCOCO;
}

.H_paragrafo
{
    text-align: justify;   
    margin-top: 15%; 
}

.tamanho_sabores
{
    width: 250px;
    height: 250px;
}

.espaco_linha
{
    margin-bottom: 10%;
}

.centraliza_div
{
    margin: 0 auto;
    text-align: center;
}

#rodape_sabores
{
    margin-bottom: 10%;
}

iframe
{
    margin-top: 12%;
}

.contato_center
{
    margin: 5% 10%;
    
}

#comentario
{
    height: 100%;
}
.justificado { 
    text-align: justify;
     margin-left: 18px; /* Ajuste a margem esquerda conforme necessário */ 
    margin-right: 18px; /* Ajuste a margem direita conforme necessário */
 }

 .justificado2 { 
    text-align: justify;
    margin-left: 18px; /* Ajuste a margem esquerda conforme necessário */ 
    margin-right: 20px; /* Ajuste a margem direita conforme necessário */
 }

 .bg-secondary { 
    background-color: #6c757d; /* Cor de fundo secundária */ 
    padding: 20px; /* Ajuste o valor conforme necessário */ 
    margin: 10px; /* Ajuste o valor conforme necessário */
 }